@using TakeTripAsp.Application.Features.ReviewsFeatures.ReviewsDtos;
@model ReadReviewsDto

@{
    ViewData["Title"] = "Delete";
    Layout = "_TakeATripAdminLayout";
}

<h1>Видалити</h1>

<h3>Дійсно хочете видалити цей елемент?</h3>
<div>
    <h4>Відгуки</h4>
    <hr />
    <dl class="row ml-3 mb-3">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger btn-rounded btn-fw" />
        <a asp-action="Index" class="btn btn-inverse-info btn-fw">Повернутись до списку</a>
    </form>
</div>
