@using TakeTripAsp.Application.Features.AppUserFeatures.AppUserDto;
@model ReadAppUserDto

@{
    ViewData["Title"] = "Редагування";
    Layout = "_TakeATripAdminLayout";
}

<h1>Редагування</h1>

<h4>Користувач</h4>
<hr />
<div class="row">
    <div class="row ml-3 mb-3">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" style="width: 500px;" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" style="width: 500px" ; />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" style="width: 500px;     />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role">Роль користувача:</label>
                <select class="form-control" id="Role" style="width: 500px;" name="Role">
                    @foreach (var category in ViewBag.RoleList)
                    {
                        <option value="@category" selected="@(category == Model.Role ? "selected" : null)"> @category</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value=" Редагувати " class="btn btn-outline-primary btn-fw" />
            </div>
        </form>
    </div>
</div>

<div class="mb-3">
    <a asp-action="Index" class="btn btn-outline-info btn-fw">Повернутись до списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

