@model TakeTripAsp.Core.Entity.Category

@{
    ViewData["Title"] = "Редагування";
    Layout = "_TakeATripAdminLayout";
}

<h1>Редагування</h1>

<h4>Категорії</h4>
<hr />
<div class="row ml-3 mb-3">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning btn-rounded btn-fw" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-inverse-info btn-fw">Повернутись до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}