@using TakeTripAsp.Application.Features.CityFeatures.CityDtos;
@using TakeTripAsp.Application.Features.CountryFeatures.Queries.GetAllCountry;
@model ReadCityDto

@{
    ViewData["Title"] = "Редагування";
    Layout = "_TakeATripAdminLayout";
}

<h1>Редагування</h1>

<h4>Міста</h4>
<hr />
<div class="row ml-3 mb-3">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CityName" class="control-label">Введіть нову назву міста</label>
            <input asp-for="CityName" class="form-control" style="width: 500px;" />
            <span asp-validation-for="CityName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CountryId" class="control-label">Виберіть країну</label>
            <select asp-for="CountryId" asp-items="@(new SelectList(ViewBag.Countries ?? new List<SelectListItem>(), "Value", "Text"))" class="form-control">
                <option value="">Виберіть країну</option>
            </select>
            <span asp-validation-for="CountryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Редагувати" class="btn btn-outline-primary btn-fw" />
        </div>
    </form>
</div>

<div class="mb-3">
    <a asp-action="Index" class="btn btn-outline-info btn-fw">Повернутись до списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



