@model ReadBookingsDto
@using TakeTripAsp.Application.Features.BookingFeatures.BookingsDtos;

@{
    ViewData["Title"] = "Редагування";
    Layout = "_TakeATripAdminLayout";
}

<h1>Редагування</h1>

<h4>Бронювання</h4>
<hr />
<div class="row ml-3 mb-3">
    <div class="col-md-4">
        <form asp-controller="Bookings" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFullPayment" /> @Html.DisplayNameFor(model => model.IsFullPayment)
                </label>
            </div>
            <div class="form-group">
                <label for="bookingstatus">Оберіть тур:</label>
                <select class="form-control" id="bookingstatus" name="BookingStatusId" style="width: 500px;">
                    @if (ViewBag.Tours != null)
                    {
                        foreach (var status in ViewBag.BookingStatuses)
                        {
                            <option value="@status.Id">@status.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Редагувати" class="btn btn-outline-primary btn-fw" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-info btn-fw">Повернутись до списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}