<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
               @* <i class="icon-layout menu-icon"></i>*@
                <span class="menu-title">Бронювання</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Bookings/Index">Переглянути</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Bookings/Create">Створити</a></li>
                    @*<li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Редагувати</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Видалити</a></li>*@
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
               @* <i class="icon-columns menu-icon"></i>*@
                <span class="menu-title">Відгуки</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Reviews/Index">Переглянути</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Reviews/Create">Створити</a></li>
                 @*   <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Редагувати</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Видалити</a></li>*@
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
               @* <i class="icon-bar-graph menu-icon"></i>*@
                <span class="menu-title">Запит на роль</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/TourManagerRequest/Index">Переглянути</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/TourManagerRequest/Create">Створити</a></li>
                   @* <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Редагувати</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Видалити</a></li>*@
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                @*<i class="icon-grid-2 menu-icon"></i>*@
                <span class="menu-title">Категорії</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Category/Index">Переглянути</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Category/Create">Створити</a></li>
                   @* <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Редагувати</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Видалити</a></li>*@
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                @*<i class="icon-contract menu-icon"></i>*@
                <span class="menu-title">Користувачі</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="icons">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/AppUser/Index">Переглянути</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/AppUser/Create">Створити</a></li>
                  @*  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Редагувати</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Видалити</a></li>*@
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                @*<i class="icon-contract menu-icon"></i>*@
                <span class="menu-title">Статус бронювання</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/BookingStatus/Index">Переглянути</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/BookingStatus/Create">Створити</a></li>
@*                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Редагувати</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Видалити</a></li>*@
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
               @* <i class="icon-ban menu-icon"></i>*@
                <span class="menu-title">Статус турів</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="error">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Status/Index">Переглянути</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Status/Create">Створити</a></li>
                    @*<li class="nav-item"> <a class="nav-link" href="@Url.Action("Edit", "Status", new { id = item.Id })">Редагувати</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Видалити</a></li>*@
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
                @*<i class="icon-paper menu-icon"></i>*@
                <span class="menu-title">Тур</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="error">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Tour/Index">Переглянути</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Tour/Create">Створити</a></li>
@*                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Редагувати</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Видалити</a></li>*@
                </ul>
            </div>
        </li>
    </ul>
</nav>