<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#booking" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Бронювання</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="booking">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Bookings/Index">Переглянути</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#reviews" aria-expanded="false" aria-controls="form-elements">
                <span class="menu-title">Відгуки</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="reviews">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Reviews/Index">Переглянути</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#roles" aria-expanded="false" aria-controls="charts">
                <span class="menu-title">Запит на роль</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="roles">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/TourManagerRequest/Index">Переглянути</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/TourManagerRequest/Create">Створити</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#category" aria-expanded="false" aria-controls="tables">
                <span class="menu-title">Категорії</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="category">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Category/Index">Переглянути</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Category/Create">Створити</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#users" aria-expanded="false" aria-controls="icons">
                <span class="menu-title">Користувачі</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="users">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/AppUser/Index">Переглянути</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/AppUser/Create">Створити</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#bookingstatus" aria-expanded="false" aria-controls="auth">
                <span class="menu-title">Статус бронювання</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="bookingstatus">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/BookingStatus/Index">Переглянути</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/BookingStatus/Create">Створити</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#status" aria-expanded="false" aria-controls="error">
                <span class="menu-title">Статус турів</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="status">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Status/Index">Переглянути</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Status/Create">Створити</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#tour" aria-expanded="false" aria-controls="auth">
                <span class="menu-title">Тур</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tour">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Tour/Index">Переглянути</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Tour/Create">Створити</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#country" aria-expanded="false" aria-controls="auth">
                <span class="menu-title">Країни</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="country">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Country/Index">Переглянути</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Country/Create">Створити</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#city" aria-expanded="false" aria-controls="auth">
                <span class="menu-title">Міста</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="city">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/City/Index">Переглянути</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/City/Create">Створити</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>